/* 
------------------------------------------------------- 
Home Page
	                                    
------------------------------------------------------- 
*/


.boxes 
{
	padding-left: 10px;
	padding-right: 10px;
}



.boxes li {
	list-style-image: url(../images/grey_bullet.gif);
}



/* ------------------------------------------------------- 
headlines links
------------------------------------------------------- */

#headlines {
	position: absolute;
	left:395px;
	top: 15px;
}

#headlines ul {
	background-color: transparent; 
	text-align: left; 
	font-size: large; 
	color: white;
}

#headlines li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

#headlines2 {
	position: absolute;
	left:500px;
	top: 50px;
}

#headlines2 ul {
	background-color: transparent; 
	text-align: left; 
	font-size: normal; 
	color: white;
	list-style-image: none;
}

#headlines2 li {
	margin-top: 0.25em;
	margin-bottom: 0.50em;
}




