/*
------------------------------------------------------- 
Project elements   
	                                    
------------------------------------------------------- 
*/

#pagecontainer{
	left: 46%;
	margin-left: -350px;
	position: absolute;
	width: 760px;
	top: 5px;
}

#pageborder
{
	background-image: url('../images/page_back.gif');
}

#bordertop
{
	background-image: url('../images/border_t.gif');
}

#borderbottom
{
	background-image: url('../images/border_b.gif');
}

#pagecontent {
	position: relative;
	left: 0px;
	top: 0px;
	text-align: left;
	width: 760px;
}

#innercopy {
	position: relative;
	left: 0px;
	top: 95px;
	width: 760px;
}

.link{
	background-image: url('../images/link_icon.gif');
	background-position: right center;
	background-repeat: no-repeat;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 17px
}

.buttons {
	cursor: pointer;
}

#pageleft 
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 200px;	
}

#pageright 
{
	position: relative;
	top: 0px;
	left: 220px;
	width: 480px;	
}

#pageright2 
{
	position: relative;
	top: 0px;
	left: 200px;
	width: 480px;	
}

#pagecorner
{
	position: absolute;
	top: 160px;
	left: -12px;
	width: 103px;
	height: 97px;
}

.darkblue
{
	color: #004b93;
}

H2.red 
{
	color: #ea1500;
}

H2.white 
{
	color: #ffffff;
}

H2.green
{
	color: #A6BA1B;
}



/* 
------------------------------------------------------- 
toolbar                                 
------------------------------------------------------- 
*/

#exchangextlogo {
	position: absolute;
	left: 20px;
	top: 5px;
	z-index: 100;
	background-color: #ffffff;
}

#callnow {
	position: absolute;
	left: 570px;
	top: 7px;
}


#homebanner {
	position: relative;
	left: 0px;
	top: 100px;
	width: 760px;
}

#toolbox 
{
	position: absolute;
	background-color: #FFFFFF;
	background-image: url('../images/tool_back.gif');
	width: 760px; 
	top: 220px;
	height: 29px
}

#footbox 
{
	background-color: #c0c0c0;
	width: 760px; 
	height: 2px;
}

#toolbar{
	position: absolute;
	left: 12px;
	color: #7F7F7F;
	height: 35px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;	
	z-index: 101;
	width: 760px; 
}

#toolbar a 
{
	font-size: 11px;
	color: #7F7F7F;
	font-weight: 700;
	line-height: 23px;
	text-decoration: none;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	
}

#toolbar a:hover{
	background-color: #a6a6a6;
	color: #ffffff;
	line-height: 23px;
}

#selected a{
	background-color: #048FEE;
	color: #ffffff;
	line-height: 23px;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
}

#selected a:hover{
	background-color: #048FEE;
	color: #ffffff;
}

#toolbar li{
	display: inline;
}

#toolbar ul{
	list-style-image: url('none');
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
	text-indent:0px
}

* html #toolbar ul {
    margin-left:-10px;
    padding-left:10px;
}

.tooldiv
{
	background-image: url('../images/tooldiv.gif');
	background-position: left center;
	background-repeat: no-repeat;
	margin-top: 10px;
	height: 21px
}


/* 
------------------------------------------------------- 
nav1                                   
------------------------------------------------------- 
*/

#nav1 {
	position: absolute;
	left: 650px;
	top: 28px;
	height: 23px;
	text-decoration: none;
	text-align: left;
	color: #006491;
	z-index: 101;
	padding: 0px;
}

#nav1 a{
	text-align: center;
	padding:2px;
	text-decoration: none;
	color: #006491;
	

}

#nav1 a:hover{
	text-align: center;
	padding:2px;
	background-color: #048FEE;
    color: #ffffff;
}

.nav1selected {
	background-color: #048FEE;
    color: #ffffff;
}

#nav2 {
	position: absolute;
	left: 700px;
	top: 28px;
	height: 23px;
	text-decoration: none;
	text-align: left;
	color: #006491;
	z-index: 101;
	padding: 0px;
}

#nav2 a{
	text-align: center;
	padding:2px;
	text-decoration: none;
	color: #006491;
}

#nav2 a:hover{
	text-align: center;
	padding:2px;
	background-color: #048FEE;
    color: #ffffff;
}

#nav2selected {
	background-color: #fe6e21;
    color: #ffffff;
}

/* 
------------------------------------------------------- 
footer                                
------------------------------------------------------- 
*/

#page {
 position: absolute;
 top: 50px;
}

#footer {
	position: relative;
	left: 0px;
	top: 30px;
	width: 740px;
	height: 80px;
	text-align: center;
}


#copyright {
	color: #0f0822;
	font-size: 90%;
	position: relative;
	left: 0px;
	top: 50px;
	float: center;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

#copyright a{
	color: #0f0822;
	text-decoration: underline;
	padding:2px;	
}

#copyright a:hover{
	color: #0f0822;
	background-color: #e7e4e4;
	text-decoration: none;
	padding:2px;	
}

/* ------------------------------------------------------- 
sub nav links
------------------------------------------------------- */

#subbox {
	position: absolute;
	width: 180px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}


#sublinks {
	
}

#sublinks ul {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

#sublinks li {
	border-bottom: 1px solid #c9e1ec;
	display: block; 
	list-style-image: url('../images/spacer.gif');
}

#sublinks a {
	color: #3d89ab;
	display: block;
	height: 25px;
	line-height: 25px;
	padding-left: 0px;
	text-decoration: none;
	text-indent: 5px;
}

#sublinks a:hover{
	background-color: #000000;
	color: #3d89ab;
}

.subselected {

	background-color: #deeef5;
    color: #3d89ab;
}

/* 
------------------------------------------------------- 
blue framing                 
------------------------------------------------------- 
*/

#leftcol {
	position: absolute;
	width: 190px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}

/* 
------------------------------------------------------- 
blue framing                 
------------------------------------------------------- 
*/

.frametop
{
	background-image: url('../images/frame_t.gif');
	background-repeat: no-repeat
}

.frametop3
{
	background-image: url('../images/frame_t1.gif');
	background-repeat: no-repeat
}

.frametop4
{
	background-image: url('../images/frame_t3.gif');
	background-repeat: no-repeat
}

.frameback
{
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #C93B07;
}

.frameback3
{
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #A6BA1B;
}

.frameback4
{
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #0991EE;
}

.framelink
{
	background-image: url('../images/frame_back.gif');
	padding-left: 10px;
	padding-right: 10px;
	text-align: right
}

.framebot
{
	background-image: url('../images/frame_b.gif');
	background-repeat: no-repeat
}

.framebot3
{
	background-image: url('../images/frame_b3.gif');
	background-repeat: no-repeat
}

.framebot4
{
	background-image: url('../images/frame_b4.gif');
	background-repeat: no-repeat
}

.frametop2
{
	background-image: url('../images/frame_t2.gif');
}

.frameback2
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	background-color: #F2F2F2;
}

.framebot2
{
	padding-top: 5px;
	background-image: url('../images/frame_b2.gif');
	background-repeat: no-repeat
}

.subtop
{
	background-image: url('../images/sub_t.gif');
}

.subback 
{
	background-image: url('../images/sub_back.gif');
	padding-left: 20px;
	padding-right: 20px
}

.subbot
{
	background-image: url('../images/sub_b.gif');
	background-repeat: no-repeat
}


/* 
------------------------------------------------------- 
tables                   
------------------------------------------------------- 
*/

.pricelist {
background-color: #E7E7EE;
}

.greyborder {
	background-color: #E7E7EE;
}

.grey1 {
	background-color: #d5e6fb;
	padding: 5px;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	text-align: right;
}

.grey2 {
	background-color: #bdd5f3;
	padding: 5px;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	text-align: right;
}

.grey3 {
	background-color: #ffffff;
	padding: 5px;
	border-bottom: 1px solid #E7E7EE;
	border-left: 1px solid #E7E7EE;
	border-right: 1px solid #E7E7EE;
	text-align: right;
}


.grey4 {
	background-color: #edf5fe;
	padding: 5px;
}

.grey3 ul {

}

.grey3 li {
	list-style-image:  url('../images/price_bullet.gif');
}


.greyhead {
	background-color: #D4D4DD;
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;

}

.greyhead3 {
	background-color: #D4D4DD;
	text-align: right;
	padding-right: 7px;
	border-right: 1px solid #ffffff;

}

.greyhead2 {
	background-color: #E7E7EE;
	text-align: right;
	padding-left: 7px;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	
}

.glt {
	background-image: url('../images/border_lt.gif');
 	background-position: left center;
 	background-repeat: no-repeat;
 	height:6px
}

.grt {
	background-image: url('../images/border_rt.gif');
 	background-position: left center;
 	background-repeat: no-repeat;
 	height:6px
}

.glb {
	background-image: url('../images/border_lb.gif');
 	background-position: left center;
 	background-repeat: no-repeat;
 	height:6px
}

.grb {
	background-image: url('../images/border_rb.gif');
 	background-position: left center;
 	background-repeat: no-repeat;
 	height:6px
}

span.live {
	font-weight: bold;
}

