/* 
------------------------------------------------------- 
standard base elements   
	                                    
------------------------------------------------------- 
*/

body{
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	color: #0f0822;
}

th, td { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-right: 5px;
  padding-bottom: 3px;
}

p {
	text-align:left;
}

img {
	border:0px;
}
img.putleft { margin-bottom: 10px; margin-right: 10px; border: #E0DEED 2px solid; }
img.putright { margin-bottom: 10px; margin-left: 10px; border: #E0DEED 2px solid;}


h1, h2, h3, h4, h5, h6 { 
    text-align: left 
    margin-top: 120px;
}
h1{
	color: #3d89ab;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
}

h2 {
	color: #0991EE;
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
}


a {
    background: none transparent scroll repeat 0% 0%;
    text-decoration: underline;
    color: #3d89ab;
}
A:hover
{
    color:;
    background-color:;
    text-decoration: none;
}

@media aural {  
  h1, h2, h3 { stress: 20; richness: 90 }
  .hide { speak: none }
  p.copyright { volume: x-soft; speech-rate: x-fast }
  dt { pause-before: 20% }
  pre { speak-punctuation: code } 
}

input {
    color: #3d89ab; 
    border: #c9e1ec 1px solid;
    background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

select {
    color: #3d89ab; 
    border: #c9e1ec 1px solid;
    background-color: #ffffff;
    font-size: 90%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea {
    color: #3d89ab; 
    background-color: #ffffff;
    font-size: 90%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

fieldset {
	border-style: solid;
	border-width: 1px;
	padding: 15px;
}

form{
	display: inline;
	margin: 0px;
	padding: 0px;
}

legend {
	color: #74b1ce;
	font-weight: bold;
	margin-bottom: 10px;
}

sup {
	font-size: 90%;
}

ul {
	background-color: transparent;
	margin: 0px;
	padding-left: 15px;
	padding-top:10px;
	padding-right: 5px;
	padding-bottom:10px;
	border: 0px;
}

li {
	padding: 3px;
	border: 0px;
}