<html>
<head>
<style>
<!--
body {
    background-color:#FFFFFF;
    color:#0F0822;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    margin:10px;
    padding:10px;
}
h1, h2 {
    color:#0991EE;
    font-size:110%;
    font-weight:bold;
    margin:0px;
    padding:0px;
}
h1 {
    font-size:120%;
}    
p {
    text-align:left;
}
a {
    background:transparent none repeat scroll 0%;
    color:#3D89AB;
    text-decoration:underline;
}
a:hover {
    text-decoration:none;
}
#pagecontainer {
    width:760px;
}
pagecontent {
    left:0px;
    position:relative;
    text-align:left;
    top:0px;
    width:760px;
}
#innercopy {
    left:0px;
    position:relative;
    width:760px;
}
-->
</style>
</head>
<body>
<div id="pagecontainer"> 			
<div id="pagecontent">
<div id="innercopy">
<h1>Thank you for registering with Porridge Telecom</h1>
<br /><br />
<h2>To confirm your contact details:</h2>
<table>
<tr>
<td> </td>
</tr>
<tr>
<td> Name:&nbsp;</td><td><% $ARGS{'firstname'} %> <% $ARGS{'lastname'} %></td>
</tr>
<tr>
<td> Email:&nbsp;</td><td><% $ARGS{'email'} %></td>
</tr>
<tr>
<td>Address</td>
<td>
<% $ARGS{'address1'} %><br />
% if ($ARGS{'address2'}) {
<% $ARGS{'address2'} %><br />
% }
<% $ARGS{'city'} %><br />
<% $ARGS{'state'} %><br />
<% $ARGS{'zip'} %> <br />
</td>
</tr>
</table>
<br />
<h2>What to do next</h2>
<p><ol>
<li>Please forward your new local landline number[s] along with the contact name[s] to the prisoner so that they can have them added to their authorised prison pin list.</li>
<li>This process can take a few days for the prison to clear.</li>
<li>Once authorised all calls then can be made directly to the new number[s] and they will be diverted through Porridge Telecoms 'Prisoner Calling Service' direct to your mobile[s] at 10p per minute.</li>
</ol>
</p>
<h2>Your Calling numbers have been set up:</h2>
<table>
    <tr>
        <th>Number to Call</th>
        <th>Which Forwards To</th>
    </tr>
% for my $i (1..4) {
    <tr>
        <td><% $ARGS{"did_seat_$i"} %></td>
        <td><% $ARGS{"did_forward_number_$i"} %></td>
    </tr>
% }
</table>
<br />
<h1>Top-up your Porridge Account</h1>
<p><a href="https://service.porridgetelecom.co.uk/topup.html?email=<% $ARGS{'login'} %>">Please click here to Top-up your Porridge Account</a></p>
<ul>
<li>Login: <% $ARGS{"login"} %></li>
<li>Password: <% $ARGS{"user_password"} %></li>
</ul>
<br /><br />
<p>Thank you for choosing Porridge Telecom!</p>
<hr />
The Porridge Telecom Support Team<br />
E: <a href="mailto:support@porridgetelecom.co.uk">support@porridgetelecom.co.uk</a><br />
W: <a href="www.porridgetelecom.co.uk">www.porridgetelecom.co.uk</a>
</p>
</div>
</div>
<div id="footer">
<div id="copyright">
<center>
&copy; Copyright 2013 Porridge Telecom. All rights reserved<br />
</center>
</div>		
</body>
</html>
<%args>
</%args>
<%flags>
inherit => undef
</%flags>
